* {
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0e8eb0;
}

.btn {
  background-color: white;
  color: #e0dc15;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  margin: 15px;
  padding: 5px;
  border: 2px solid #e5dc1e;
  border-radius: 5px;
  width: 90px;
  height: 80px;
  cursor: pointer;
  font-size: 60px;
  position: relative;
  top: 0;
  box-shadow: 0 12px #c2bb11, 0 18px rgba(0, 0, 0, 0.4);
}

.btn:hover {
  background-color: #efdc15;
  color: #0e80b0;
  top: 4px;
  box-shadow: 0 8px #c2bb11, 0 14px rgba(0, 0, 0, 0.4);
}

.btn:active {
  background-color: #efdc15;
  color: #0e80b0;
  top: 4px;
  box-shadow: 0 4px #c2bb11, 0 10px rgba(0, 0, 0, 0.4);
}

.game {
  display: flex;
  flex-wrap: wrap;
}

.gameInfo {
  margin: 15px;
  color: white;
}

.board > div {
  display: flex;
}
